body {
  background-color: #0B1416;
  color: #E0F7F4;
}

.card {
  background-color: #102022;
  border-color: #1B3A3D;
}

.btn-primary {
  background-color: #09695d;
  border-color: #074d43;
}

.btn-primary:hover {
  background-color: #008371;
  border-color: #006e60;
}

.btn-primary:active {
  background-color: #008371;
  border-color: #006e60;
}

.text-secondary {
  color: #ddf8f5 !important;
}

.alert-success {
  background-color: #1DD1A1;
  color: #0B1416;
}

.alert-warning {
  background-color: #F9A825;
  color: #0B1416;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: #008371 !important; 
  border-color: #006e60 !important;
  outline: none !important;
}
